<section class="section-sm">
  <div class="container-sm">
    <p style="color: green"><%= notice %></p>
    <div class="w-full center mb-1">
      <h1 class="semibold head-sm">Home</h1>
    </div>

    <% if  current_user %>
      <div>
        <%= render "comment", tweet_new: @tweet_new, parent_tweet: nil %>
      </div>
    <% end %>

    <div>
      <% @tweets.sort.reverse.each do |tweet| %>
        <% if tweet.replied_to.nil? %>
          <%= render tweet, like_new: @like_new, user_tweets: @user_tweets, user_likes: @user_likes %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>