<section class="section-sm">
  <div class="container-sm">
    <div class="w-full center mb-1">
      <h1>Edit Profile</h1>
    </div>
  </div>

<div class="container-sm">
      <%= render "form_edit", user: @user %>
  </div>
</section>
