<section class="section-sm">
  <div class="container-sm">
    <p style="color: green"><%= notice %></p>
    <%= render @user, like_new: @like_new, user_tweets: @user_tweets, user_likes: @user_likes %>
  </div>
</section>
